@page "/Lista_Factura"
@using Frontend_Inventario.Modelos
@using Frontend_Inventario.Servicios
@using Frontend_Inventario.Servicios.iServicios

@inject Factura_Interface servicioFactura

<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card shadow-sm border-0 rounded-3">
            <div class="card-body">

                <div class="d-flex justify-content-between align-items-center">
                    <div class="input-group">
                        <span class="input-group-text bg-light border-0">
                            <i class="bi bi-search text-muted"></i>
                        </span>
                        <input type="text" class="form-control border-0 shadow-sm rounded-start" placeholder="Buscar...." />
                    </div>

                    <NavLink href="Registrar_Factura" class="btn btn-primary rounded-pill shadow-sm ms-3 px-4">
                        <i class="bi bi-person-fill-add"></i> Nuevo
                    </NavLink>
                    <NavLink href="Lista_DetalleFactura" class="btn btn-success rounded-pill shadow-lg px-4 ms-4">
                        <i class="bi bi-file-earmark-text"></i> Detalle Facturas
                    </NavLink>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-body">
                <h4 class="card-title">Facturas</h4>
                <h6 class="card-subtitle mb-4 text-muted">Facturas registradas</h6>

                <div class="table-responsive">
                    <table class="table table-hover table-bordered align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>idFactura</th>
                                <th>idCliente</th>
                                <th>fecha</th>
                                <th>total</th>
                                <th>idUsuario</th>
                                <th class="text-center text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (factura_Modelo_Respuestas.Count() > 0)
                            {
                                @foreach (var item in factura_Modelo_Respuestas)
                                {
                                    <tr>
                                        <td>@item.idFactura</td>
                                        <td>@item.idCliente</td>
                                        <td>@item.fecha</td>
                                        <td>@item.total</td>
                                        <td>@item.idUsuario</td>
                                        <td class="text-center text-nowrap">
                                            <!-- Botón de ver -->
                                            @* <NavLink href=@($"Registrar_DetalleFactura_ID/{item.idFactura}")
                                                     class="btn btn-success rounded-circle shadow-sm"
                                                     data-bs-toggle="tooltip" data-bs-placement="top" title="Ver">
                                                <i class="bi bi-book-fill"></i>
                                            </NavLink> *@
                                            <!-- Botón de modificar -->
                                            <NavLink href=@($"Registrar_Factura/{item.idFactura}")
                                                     class="btn btn-warning rounded-circle shadow-sm"
                                                     data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar">
                                                <i class="bi bi-pencil-fill"></i>
                                            </NavLink>
                                            <!-- Botón de eliminar -->
                                            <button class="btn btn-danger rounded-circle shadow-sm ms-2"
                                                    @onclick="() => Eliminar_Factura(item.idFactura)"
                                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                                <i class="bi bi-trash-fill"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="text-center text-muted">No hay registros disponibles</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Paginación -->
                <div class="d-flex justify-content-center mt-4 gap-3">
                    <button class="btn btn-outline-secondary rounded-pill px-4">Anteriores</button>
                    <button class="btn btn-outline-secondary rounded-pill px-4">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</div>




@code {
    public IEnumerable<Factura_Modelo_Respuesta> factura_Modelo_Respuestas = new List<Factura_Modelo_Respuesta>();
    protected override async Task OnInitializedAsync()
    {
        factura_Modelo_Respuestas = await servicioFactura.Get_Factura();
    }

    public async Task Eliminar_Factura(int idFactura)
    {
        var respuesta = await servicioFactura.Eliminar_Factura(idFactura);
        factura_Modelo_Respuestas = await servicioFactura.Get_Factura();
    }
}
